<div class="create-book">	
	<div>
		<div class="formWrapperCreate">		
			<div class="createForm">
                <div>
                    <h1 class="playfair-display-styling">Shelve A Book <br>to my TBR</h1>
                    <p class="sub-header">Fill out all the fields below to add a new book to your TBR shelf.</p>
                    <p class="sub-header"><i>Want to add a book to your Bookshelf? <a href="#!create">Click here.</a></i></p>
                    <h5 ng-bind="createStatus"></h5>
                </div>	
                <form name="createForm">
                    
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input ng-model="tbrBook.title" required ng-minlength="1" name="title"
                            type="text" id="title" placeholder="Type here">					
                        <span ng-show="createForm.title.$touched && createForm.title.$invalid"
                            class="warning-display">
                            <i>1 Character Required</i>
                        </span>					
                    </div>
                    
                    <div class="form-group">
                        <label for="author">Author:</label>
                        <input ng-model="tbrBook.author" required name="author"
                             id="author" type="text">
                    </input>
                        <span ng-show="createForm.author.$touched && createForm.author.$invalid"
                            class="warning-display">
                            <i>Required</i>
                        </span>	
                    </div>
                    <!-- <div class="form-group">
                        <label for="starRating">Star Rating:</label>
                        <input ng-model="book.starRating" required ng-minlength="1"
                            type="text" id="starRating" name="starRating" placeholder="Out of 5">
                        <span class="warning-display" ng-show="createForm.starRating.$touched && createForm.starRating.$invalid" >
                            <i>1 characters required</i>
                        </span>
                    </div> -->
                    <!-- <div class="form-group">
                        <label for="publisher">Publisher:</label>
                        <input ng-model="book.publisher" required ng-minlength="1"
                            type="text" id="publisher" name="publisher" placeholder="Type here">
                        <span class="warning-display" ng-show="createForm.publisher.$touched && createForm.publisher.$invalid" >
                            <i>1 characters required</i>
                        </span>
                    </div> -->
                    <!-- <div class="form-group">
                        <label for="dateRead">Date Read:</label>
                        <input ng-model="book.dateRead" required ng-minlength="1" max="2030" min="1900"
                            type="number" id="dateRead" name="dateRead">
                        <span class="warning-display" ng-show="createForm.dateRead.$touched && createForm.dateRead.$invalid" >
                            <i>1 characters required</i>
                        </span>
                    </div> -->
                    <div class="form-group">
                        <label for="releaseYear">Release Year:</label>
                        <input ng-model="tbrBook.releaseYear" max="2030" min="1000" required 
                        type="number" id="releaseYear"  name="releaseYear">
                    </input>
                        <span ng-show="createForm.releaseYear.$touched && createForm.releaseYear.$invalid"
                            class="warning-display">
                            <i>Required</i>
                        </span>	
                    </div>
                    <div class="form-group">
                        <label for="bookFormat">Format:</label>
                        <select ng-model="tbrBook.bookFormat"  id="bookFormat" required name="bookFormat">
                            <option ng-repeat="bookFormat in bookFormats">{{bookFormat}}</option>
                        </select>
                        <span ng-show="createForm.bookFormat.$touched && createForm.bookFormat.$invalid"
                            class="warning-display">
                            <i>Required</i>
                        </span>	
                    </div>
                    <div class="form-group">
                        <label for="pageCount">Page Count:</label>
                        <input ng-model="tbrBook.pageCount" max="10000" min="1" required
                            type="number" id="pageCount" name="pageCount" 
                            placeholder="select">
                            <span class="warning-display" ng-show="createForm.pageCount.$touched && createForm.pageCount.$invalid">
                                Must be between 1 and 10,000
                            </span>
                    </div>
                    <div class="form-group">
                        <label for="audioBook">AudioBook Available:</label>
                        <select ng-model="tbrBook.audioBook" id="audioBook" name="audioBook" required>
                            <option ng-repeat="audioBook in audioBooks">{{audioBook}}</option>
                        </select>
                        <span class="warning-display" ng-show="createForm.audioBook.$touched && createForm.audioBook.$invalid">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="ageRating">Age Rating:</label>
                        <select ng-model="tbrBook.ageRating" id="ageRating" required name="ageRating">
                            <option ng-repeat="ageRating in ageRatings">{{ageRating}}</option>
                        </select>
                        <span class="warning-display" ng-show="createForm.ageRating.$touched && createForm.ageRating.$invalid">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="seriesNumber">Number in Series:</label>
                        <input ng-model="tbrBook.seriesNumber" 
                            type="text" id="seriesNumber" name="seriesNumber" required
                            placeholder="n/a if not applicable">
                            <span class="warning-display" ng-show="createForm.seriesNumber.$touched && createForm.seriesNumber.$invalid">
                                Required
                            </span>
                    </div>
                    <div class="form-group">
                        <label for="keyword1">Main Keyword:</label>
                        <select ng-model="tbrBook.keyword1" id="keyword1" required name="keyword1"> 
                            <option ng-repeat="keyword in keywords">{{keyword}}</option>
                        </select>
                        <span class="warning-display" ng-show="createForm.keyword1.$touched && createForm.keyword1.$invalid">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="keyword2">Second Keyword:</label>
                        <select ng-model="tbrBook.keyword2" id="keyword2" required name="keyword2"> 
                            <option ng-repeat="keyword in keywords">{{keyword}}</option>
                        </select>
                        <span class="warning-display" ng-show="createForm.keyword2.$touched && createForm.keyword2.$invalid">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="keyword3">Third Keyword:</label>
                        <select ng-model="tbrBook.keyword3" id="keyword3" required name="keyword3"> 
                            <option ng-repeat="keyword in keywords">{{keyword}}</option>
                        </select>
                        <span class="warning-display" ng-show="createForm.keyword3.$touched && createForm.keyword3.$invalid">
                            Required
                        </span>
                    </div>
                    <div class="tbr-scores tooltip-wrap">
                        <div class="slider-case">
                            <div class="label-wrap">
                                <label for="recScore"><strong>Recommendation Score:</strong> <span id="recNum" ng-bind="tbrBook.recScore"></span></label>
                            </div>
                            <div class="slider-text-wrap">
                                <p>How strongly do you trust the source that gave you this recommendation?</p>
                            </div>
                           <div class="slider-wrap">
                                <div class="slider-text-scale left-text">
                                    <p><strong>Not At All</strong></p>
                                </div>
                                <div class="slider-div">
                                    <div class="slidecontainer">
                                        <input type="range" min="1" max="5" value="3" class="slider" id="recScore" ng-model="tbrBook.recScore">
                                       
                                    </div>
                                </div>
                                <div class="slider-text-scale right-text">
                                    <p><strong>With My Life</strong></p>
                                </div>
                           </div>
                        </div>
                        <div class="slider-case">
                            <div>
                                <label for="keywordScore"><strong>Keyword Score:</strong> <span id="keyNum" ng-bind="tbrBook.keywordScore"></span></label>
                            </div>
                            <p>How many of the keywords and hashtags do you enjoy?</p>
                            <div class="slider-wrap">
                                <div class="slider-text-scale left-text">
                                    <p><strong>None of Them</strong></p>
                                </div>
                                <div class="slider-div">
                                    <div class="slidecontainer">
                                        <input ng-model="tbrBook.keywordScore" required max="5" min="1" value="3"
                                        type="range" id="keywordScore" name="keywordScore" class="slider sliderB">
                                    </div>
                                </div>
                                <div class="slider-text-scale right-text">
                                    <p><strong>All of Them</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="slider-case">
                            <label for="authorScore"><strong>Author Score:</strong> <span id="authNum" ng-bind="tbrBook.authorScore"></span></label>
                            <p>Are you familiar with this author?</p>
                            <div class="slider-wrap">
                                <div class="slider-text-scale left-text">
                                    <p><strong>Never Heard Of</strong></p>
                                </div>
                                <div class="slider-div">
                                    <div class="slidecontainer">
                                        <input ng-model="tbrBook.authorScore" required max="5" min="1" value="3"
                                        type="range" id="authorScore" name="authorScore" class="slider sliderC">
                                    </div>
                                </div>
                                <div class="slider-text-scale right-text">
                                    <p><strong>Well-loved Favorite</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="slider-caseTotal">
                            <label for="totalScore"><strong>Total Score:</strong> <span id="totalNum"></span><span ng-model="tbrBook.totalScore">{{tbrBook.totalScore}}</span></label>
                            <p><i>Total Score will show once you click Create</i></p>
                            <!-- <input ng-model="tbrBook.totalScore" required ng-minlength="1" max="20" min="0"
                                type="number" id="totalScore" name="totalScore">
                            <span class="warning-display" ng-show="createForm.totalScore.$touched && createForm.totalScore.$invalid" >
                                <i>1 characters required</i>
                            </span> -->
                        </div>
                    </div>
                    <div class="button-wrap">
                        <div class="button-container">
                            <button type="button" class="call-to-action" ng-disabled="createForm.$invalid || disableCreate"
                            ng-click="createTbrBook()">Create</button>			
                            <button type="button" class="call-to-action"
                            ng-click="clear()">Clear</button>
                            <button type="button" class="call-to-action" ng-click="goToTbrView()">Cancel</button>
                        </div>
                    </div>
                </form>
		    </div>
            <div class="hashTable">
                <div class="hash-header">
                    <h2>Select up to 5 hashtags</h2>
                    <p><i>Drag a tag to any of the five boxes, or click on the tag to fill in the boxes
                            sequentially.</i></p>
                </div>
                <div class="hashSelectFive">
                    <div class="form-hash">
                        <!-- <label for="hashtag1">1:</label> -->
                        <input ng-model="tbrBook.hashtag1" 
                            type="text" id="hashtag1" name="hashtag1" required ng-click="setHashtag1(hashtag)" 
                            class="hash-inputTbr">
                            <span class="warning-display" ng-show="createForm.hashtag1.$touched && createForm.hashtag1.$invalid">
                                Required
                            </span>
                    </div>
                    <div class="form-hash">
                        <!-- <label for="hashtag2">2:</label> -->
                        <input ng-model="tbrBook.hashtag2" 
                            type="text" id="hashtag2" name="hashtag2" required class="hash-inputTbr">
                            <span class="warning-display" ng-show="createForm.hashtag2.$touched && createForm.hashtag2.$invalid">
                                Required
                            </span>
                    </div>
                    <div class="form-hash">
                        <!-- <label for="hashtag3">3:</label> -->
                        <input ng-model="tbrBook.hashtag3" 
                            type="text" id="hashtag3" name="hashtag3" required class="hash-inputTbr">
                            <span class="warning-display" ng-show="createForm.hashtag3.$touched && createForm.hashtag3.$invalid">
                                Required
                            </span>
                    </div>
                    <div class="form-hash">
                        <!-- <label for="hashtag4">4:</label> -->
                        <input ng-model="tbrBook.hashtag4" 
                            type="text" id="hashtag4" name="hashtag4" required class="hash-inputTbr">
                            <span class="warning-display" ng-show="createForm.hashtag4.$touched && createForm.hashtag4.$invalid">
                                Required
                            </span>
                    </div>
                    <div class="form-hash">
                        <!-- <label for="hashtag5">5:</label> -->
                        <input ng-model="tbrBook.hashtag5" 
                            type="text" id="hashtag5" name="hashtag5" required class="hash-inputTbr">
                            <span class="warning-display" 
                            ng-show="createForm.hashtag5.$touched && createForm.hashtag5.$invalid" 
                            ondrop="drop(event)" ondragover="allowDrop(event)">
                                Required
                            </span>
                    </div>
                </div>
                <!-- <div class="temp-div">
                    <div class="form-hash">
                        <div ng-model="tbrBook.hashtag1" class="hash-box"
                            id="hashtag1" name="hashtag1" required ondrop="drop(event)" ondragover="allowDrop(event)"></div> 
                            <span class="warning-display" 
                            ng-show="createForm.hashtag1.$touched && createForm.hashtag1.$invalid">
                                Required
                            </span>
                    </div>
                    <div class="form-hash">
                        <div ng-model="tbrBook.hashtag2" class="hash-box"
                            id="hashtag2" name="hashtag2" required ondrop="drop(event)" ondragover="allowDrop(event)"></div> 
                            <span class="warning-display" 
                            ng-show="createForm.hashtag2.$touched && createForm.hashtag2.$invalid">
                                Required
                            </span>
                    </div>
                    <div class="form-hash">
                        <div ng-model="tbrBook.hashtag3"  class="hash-box"
                            id="hashtag3" name="hashtag3" required ondrop="drop(event)" ondragover="allowDrop(event)"></div> 
                            <span class="warning-display" 
                            ng-show="createForm.hashtag3.$touched && createForm.hashtag3.$invalid">
                                Required
                            </span>
                    </div>
                    <div class="form-hash">
                        <div ng-model="tbrBook.hashtag4" class="hash-box"
                            id="hashtag4" name="hashtag6" required ondrop="drop(event)" ondragover="allowDrop(event)"></div> 
                            <span class="warning-display" 
                            ng-show="createForm.hashtag4.$touched && createForm.hashtag4.$invalid">
                                Required
                            </span>
                    </div>
                    <div class="form-hash">
                        <div ng-model="tbrBook.hashtag5" class="hash-box"
                            id="hashtag5" name="hashtag5" required ondrop="drop(event)" ondragover="allowDrop(event)"></div> 
                            <span class="warning-display" 
                            ng-show="createForm.hashtag5.$touched && createForm.hashtag5.$invalid">
                                Required
                            </span>
                    </div>
                </div> -->
                <div class="search-container">
                    <input type="text" placeholder="Search for hashtags..." ng-model="searchValue" class="hashSearch">
                </div>
                <div class="button-box" ondrop="drop(event)" ondragover="allowDrop(event)" id="div1">
                    <button class="tag-button" 
                    ng-repeat="hashtag in hashtags | filter:searchValue" 
                    ng-click="selectHashtag(hashtag.hashtagName)" 
                    ng-class="{'selected': hashtag.selected}"
                    draggable="true" ondragstart="drag(event)" id="{{hashtag.hashtagName}}"
                    >{{hashtag.hashtagName}}</button>
                </div>  
                <!-- <button ng-click="goToUpdateHashtagView(hashtag.id)">Add or Delete Hashtags</button>    -->
                
            </div>
        </div>
    </div>
</div>
