<div class="outer-quiz">
  <div class="progress-container">
    <div class="progress">
      <div class="progress__inner">
      </div>
    </div>
  </div>
  <div class="container-quiz">
    <div class="quiz__inner">
      <!-------------QUESTION 1--------------------->
      <div class="quiz__step--1 quiz__step--current quiz__step" ng-show="show1">
        <div class="emoji-wrap">
          <div class="question__emoji">
            📒
          </div>
        </div>
        <h1 class="quiz__question">Choose reading stage:</h1>
        <div class="answer">
          <input data-char="65" type="radio" class="answer__input" id="boardbook" name="stage" value="boardbook" ng-model="q1">
          <label class="answer__label" for="boardbook">Board Book
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>
        <div class="answer">
          <input data-char="66" class="answer__input" type="radio" id="picturebook" name="stage" value="picturebook" ng-model="q1">
          <label class="answer__label" for="picturebook">Picture Book
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>       
        <div class="answer">
          <input data-char="67" class="answer__input" type="radio" id="earlyread" name="stage" value="earlyread" ng-model="q1">
          <label class="answer__label" for="earlyread">Early Reader
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>  
        <div class="answer">
          <input data-char="68" class="answer__input" type="radio" id="chapterbook" name="stage" value="chapterbook" ng-model="q1">
          <label class="answer__label" for="chapterbook">Chapter Book
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>  
        <div class="answer">
          <input data-char="69" class="answer__input" type="radio" id="middlegrade" name="stage" value="middlegrade" ng-model="q1">
          <label class="answer__label" for="middlegrade">Middle Grade
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>  
        <div class="answer">
          <input data-char="70" class="answer__input" type="radio" id="youngadult" name="stage" value="youngadult" ng-model="q1">
          <label class="answer__label" for="youngadult">Young Adult
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>  
        <div class="answer">
          <input data-char="71" class="answer__input" type="radio" id="adult" name="stage" value="adult" ng-model="q1">
          <label class="answer__label" for="adult">Adult
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>  
      </div>
      <!-------------QUESTION 2--------------------->
      <div class="quiz__step--2 quiz__step--current quiz__step" ng-show="show2">
        <div class="emoji-wrap">
          <div class="question__emoji">
            🖋 
          </div>
        </div>
        <h1 class="quiz__question">Choose a format:</h1>
        <div class="answer">
          <input type="radio" class="answer__input" id="fiction" name="format" value="fiction" ng-model="q2">
          <label class="answer__label" for="fiction">Fiction
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label> 
        </div> 
        <div class="answer">
          <input class="answer__input" type="radio" id="nonfic" name="format" value="nonfic" ng-model="q2">
          <label class="answer__label" for="nonfic">Non-Fiction
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>       
        <div class="answer">
          <input class="answer__input" type="radio" id="poetry" name="format" value="poetry" ng-model="q2">
          <label class="answer__label" for="poetry">Poetry
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>  
        <div class="answer">
          <input class="answer__input" type="radio" id="essays" name="format" value="essays" ng-model="q2">
          <label class="answer__label" for="essays">Essays
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>  
        <div class="answer">
          <input class="answer__input" type="radio" id="shortstory" name="format" value="shortstory" ng-model="q2">
          <label class="answer__label" for="shortstory">Short Stories
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>  
        <div class="answer">
          <input class="answer__input" type="radio" id="creativenf" name="format" value="creativenf" ng-model="q2">
          <label class="answer__label" for="creativenf">Creative Non-Fic
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>  
        <div class="answer">
          <input class="answer__input" type="radio" id="dramaplay" name="format" value="dramaplay" ng-model="q2">
          <label class="answer__label" for="dramaplay">Drama/Play
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>  
        <div class="answer">
          <input class="answer__input" type="radio" id="graphicnov" name="format" value="graphicnov" ng-model="q2">
          <label class="answer__label" for="graphicnov">Graphic Novel
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div> 
      </div>
      <!-------------QUESTION 3--------------------->
      <div class="q3 quiz__step--3 quiz__step--current quiz__step" ng-show="show3">
        <div class="emoji-wrap">
          <div class="question__emoji">
            💐
          </div>
        </div>
        <h1 class="quiz__question">Pick a flower: </h1>
        <div class="flower-answer">
          <input type="radio" class="flower-answer__input" id="happyFlower" name="flower" value="happyFlower" ng-model="q3">
          <label class="flower-answer__label" for="happyFlower"><img src="./images/happy-flower.jpg" 
            class="flower-pic sunflower">
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label> 
        </div>  
        <div class="flower-answer">
          <input class="flower-answer__input" type="radio" id="scaryFlower" name="flower" value="scaryFlower" ng-model="q3">
          <label class="flower-answer__label" for="scaryFlower"><img src="./images/scary-flower-crop.jpg" class="flower-pic batflower">
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>       
        <div class="flower-answer">
          <input class="flower-answer__input" type="radio" id="romanticFlower" name="flower" value="romanticFlower" ng-model="q3">
          <label class="flower-answer__label" for="romanticFlower"><img src="./images/romantic-flower-crop.jpg" class="flower-pic">
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>  
        <div class="flower-answer">
          <input class="flower-answer__input" type="radio" id="sadFlower" name="flower" value="sadFlower" ng-model="q3">
          <label class="flower-answer__label" for="sadFlower"><img src="./images/sad-flower.jpg" class="flower-pic">
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>  
        <div class="flower-answer">
          <input class="flower-answer__input" type="radio" id="hopefulFlower" name="flower" value="hopefulFlower" ng-model="q3">
          <label class="flower-answer__label" for="hopefulFlower"><img src="./images/hopeful-flower.jpg" class="flower-pic">
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>  
        <div class="flower-answer">
          <input class="flower-answer__input" type="radio" id="fantasyFlower" name="flower" value="fantasyFlower" ng-model="q3">
          <label class="flower-answer__label" for="fantasyFlower"><img src="./images/fantasy-flower.jpg" class="flower-pic">
            <div class="answer__tick">
              <img src="./images/ifthen (1).png" class="tick-mark">
            </div>
          </label>
        </div>  
      </div>
    </div>
    <!-------------QUESTION 4--------------------->
    <div class="q4 quiz__step--4 quiz__step--current quiz__step" ng-show="show4">
      <div class="emoji-wrap">
        <div class="question__emoji">
        😂
        </div>
      </div>
      <h1 class="quiz__question">Do you want to laugh?: </h1>
      <div class="answer">
        <input type="radio" class="answer__input" id="laughYes" name="laugh" value="laughYes" ng-model="q4">
        <label class="answer__label" for="laughYes">Yes
          <div class="answer__tick">
            <img src="./images/ifthen (1).png" class="tick-mark">
          </div>
        </label> 
      </div>  
      <div class="answer">
        <input class="answer__input" type="radio" id="laughNo" name="laugh" value="laughNo" ng-model="q4">
        <label class="answer__label" for="laughNo">No
          <div class="answer__tick">
            <img src="./images/ifthen (1).png" class="tick-mark">
          </div>
        </label>
      </div>      
    </div>
  </div>
    <!--RESULT-->
  <div ng-show="showBook" class="animate__animated animate__fadeInUp">
    <div class="result">
      <div class="book-recommendation">
        <div class="rec-wrap">
          <h4><i>You Might Like:</i> </h4>
          <div>
            <h2 ng-bind="quizBook"></h2>
          </div>
          <div class="book-rec-cover">
            <img class="book-rec-cover" src="./images/giving-tree.webp">
          </div>
        </div>
        <div class="summary-wrap">
          <div class="rec-summary">
            <h2>Summary</h2>
            <table>
              <thead>
                <tr class="exclude-header">
                  <th>Question</th>
                  <th>Answer</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Reading Stage</td>
                  <td>{{q1}}</td>
                </tr>
                <tr>
                  <td>Format</td>
                  <td>{{q2}}</td>
                </tr>
                <tr>
                  <td>Flower</td>
                  <td>{{q3}}</td>
                </tr>
                <tr>
                  <td>Laugh</td>
                  <td>{{q4}}</td>
                </tr>
              </tbody>
            </table>
            </div>
        </div>
      </div>
      <div>
        <button ng-click="retake()" class="call-to-action">Retake</button>
        <button class="call-to-action" ng-click="goToAddQuizBookView(quizBook)">Add to my TBR</button>
      </div>
    </div>
  </div>
  </div>
  <!--NAVIGATIONAL ARROWS-->
  <div class="quiz-arrows">
    <div class="navigation" ng-show="showArrows">
      <div class="navigation__btn navigation__btn--left arrow-back" ng-click="back()" >
        <svg width="20" height="20" viewBox="0 0 24 24">
          <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
        </svg>
      </div>
      <div class="navigation__btn navigation__btn--right" ng-click="next()">
        <svg width="20" height="20" viewBox="0 0 24 24">
          <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
        </svg>
      </div>
    </div>
  </div>
</div>

