<!-- <div class="wrapper" style="overflow: visible !important">
        <div class="container">
            <div class="header">
                <div class="circle1"></div>
                <div class="line1"></div>
                <h1>Carissa Davis</h1>
                <div class="circle2"></div>
                <div class="line2"></div>
            </div> -->
            <!--OVERVIEW SECTION-->
            <!-- <div class="overview">
                <div class="image">
                    <img src="./images/qr-code.png" alt="" class="qr-code">
                </div>
                <div class="contact">
                <h2><span class="blue-dot">C</span>ontact</h2>
                <p>
                    7 Baker Drive <br>
                    Searcy, AR 72143 <br>
                    (240) 405-9056 <br>
                    clsadavis@gmail.com <br>
                    <a href="https://www.linkedin.com/in/carissa-davis/" target="_blank" class="socials"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a href="" class="socials"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="" class="socials"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="" class="socials"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </p>
                </div>
                <div class="spacer1"></div>
                <div class="summary">
                <h2><span class="blue-dot">S</span>ummary</h2>
                <p>
                    Recent graduate of University of Central Arkansas' Coding Academy. <br>
                    Designed and coded a full stack application to demonstrate <br>
                    my achievements in Java, MySQL, AngularJS, and RESTful APIs. <br>
                    I am learning to fail fast and often and cannot wait for my next learning experience.
                </p>
                </div>
             </div>
            <div class="experience"> -->
            
            <!--EXPERIENCE SECTION-->
            <!-- <div class="exp-top">
                <div class="exp">
                    <h2><span class="blue-dot">E</span>xperience</h2>
                </div>
                <div class="spacer2"></div>
                <div>
                    <p class="p-link"> <em>&mdash; Check out my <a href="https://www.linkedin.com/in/carissa-davis/" target="_blank" class="socials">LinkedIn</a></em></p>
                </div>
            </div>
            <h3>Branch Office Adminstrator</h3>
            <p><strong>Edward Jones</strong></p>
            <p>Dec. 2024 - Present</p>
            <ul>
                <li>Process high volumes of applications during open cycles</li>
                <li>Effectively and courteously explain complex admissions reuqirements to applicants</li>
                <li>Communicate personal feedback to denied applicants</li>
                <li>Modernize admissions processes</li>
                <li>Strive for improvement for all processes</li>
            </ul>

            <h3>Admissions Coordinator</h3>
            <p><strong>Harding University PA Program</strong></p>
            <p>Sept. 2021 - Sept. 2024</p>
            <ul>
                <li>Process high volumes of applications during open cycles</li>
                <li>Effectively and courteously explain complex admissions reuqirements to applicants</li>
                <li>Communicate personal feedback to denied applicants</li>
                <li>Modernize admissions processes</li>
                <li>Strive for improvement for all processes</li>
            </ul>

            <hr>

            <h3>Program Assistant</h3>
            <p><strong>Harding University PA Program</strong></p>
            <p>Sept. 2020 - Sept. 2021</p>
            <ul>
                <li>Communicated with medical, educational professionals in coordinating simulated learning environments for PA students</li>
                <li>Served as first contact for all visitors and callers</li>
            </ul>
            <br>
            <h3>Remote Ophthalmologist Scribe</h3>
            <p><strong>Nuance Communications</strong></p>
            <p>Nov. 2019 - Apr. 2020</p>
            <ul>
                <li>Worked as part of remote scribe team to provide swift and accurate chart notation for clinics</li>
                <li>Regularly met criteria for the 100 Club - for accuracy and speed</li>
            </ul>
            <br>
            <h3>Shift Supervisor</h3>
            <p><strong>Starbucks Coffee Company</strong></p>
            <p>Sept. 2015 - Sept. 2019</p>
            <ul>
                <li>Provided swift and exmplemary customer service to ensure an enjoyable experience for customers and employees</li>
                <li>Performed troubleshooting for machinery</li>
                <li>Coached and collaborated with barista team</li>
            </ul>
            </div>
            <div class="skills">
            <hr> -->
            <!--SKILLS SECTION-->
            <!-- <h2><span class="blue-dot">S</span>kills Matrix</h2>
            <table class="center-table">
                <tr>
                    <th>Skill</th>
                    <th>Level</th>
                    <th>Years of Experience</th>
                </tr>
                <tr>
                    <td>Java</td>
                    <td>Beginner</td>
                    <td>0.5</td>
                </tr>
                <tr>
                    <td>HTML</td>
                    <td>Intermediate</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td>Intermediate</td>
                    <td>1</td>
                </tr>
            </table>
            </div>
        </div>
    </div> -->

    

<div ng-show="showBits">
    <div>
        <h2>Hello, <s>World</s> <br>I'm Carissa Davis </h2>
        <div>
            <div>
                <button class="call-to-action" ng-click="resume()">See Full Resume</button>
            </div>
        </div>
        
    </div>
   
</div>

<div ng-show="showResume" class="resume-body">
    <!-- <div>
        <button class="call-to-action" ng-click="resume()">See Fun Resume</button>
    </div> -->
    <div class="resume-header">
        <h1 class="playfair-display-styling">Carissa Davis</h1>
        <p>
            (240) 405-9056 <br>
            clsadavis@gmail.com <br>
            Searcy, AR &mdash; <i>open to relocation</i>
        </p>
        <div class="socials-wrapper">
            <a href="https://www.linkedin.com/in/carissa-davis/" target="_blank" class="socials2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="" class="socials2"><i class="fa fa-github" target="_blank" aria-hidden="true"></i></a>
            <a href="https://codepen.io/Carissa-Davis" class="socials2" target="_blank"><i class="fa fa-codepen" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="res-summary">
        <h4>Summary</h4>
        <p>
            Customer service and administrative professional with 9+ years of experience 
            in customer-facing roles looking to start a career in full stack development. 
        </p>
    </div>
    <div class="res-ed">
        <h4>Education</h4>
        <p class="sub-header-resume"><strong>Arkansas Coding Academy</strong></p>
        <p>Conway, AR</p>
        <p><i>July 2024 - Dec. 2024</i></p>
        <p>Full Stack Java Web Development graduate with certificate of completion</p>
        <p class="sub-header-resume"><strong>Harding University</strong></p>
        <p>Searcy, AR</p>
        <p><i>Aug. 2013 - May 2016</i></p>
        <p>Bachelor of Arts in English Language and Literature, and French Language and Literature</p>
    </div>
    <div class="res-exp">
        <h4>Experience</h4>
        <p class="sub-header-resume"><strong>Edward Jones</strong></p>
        <p>Branch Office Administrator</p>
        <p>Searcy, AR</p>
        <p><i>Dec. 2024 - Present</i></p>
        <ul>
            <li>Deepen and broaden client relationships through timely and thorough service</li>
            <li>Manage multiple priorities in a high-volume, deadline-driven environment</li>
            <li>Increase efficiency across branch operations</li>
        </ul>
        <p class="sub-header-resume"><strong>Harding University Physician Assistant Program</strong></p>
        <p>Admissions Coordinator</p>
        <p>Searcy, AR</p>
        <p><i>Sept. 2021 - Nov. 2024</i></p>
        <ul>
            <li>Continually streamlined admissions processes by automating tasks and increasing efficiency; cut predecessor’s 80-hour pace by 50%
            </li>
            <li>Increased accepted-student satisfaction by personalizing application experience; decreased withdrawal rates prior to matriculation by 78% in 2023-2024 cycle
            </li>
        </ul>
        <p>Program Assistant</p>
        <p>Sept. 2020 - Sept. 2021</p>
        <ul>
            <li>Created and maintained better inventory processes for medical supply stock</li>
            <li>Set up, performed troubleshooting during, and tore down simulated learning environments for PA students</li>
        </ul>
        <p class="sub-header-resume"><strong>Nuance Communications</strong></p>
        <p>Remote Ophthalmologist Scribe	</p>
        <p>Remote</p>
        <p><i>Nov. 2019 - Apr. 2020</i></p>
        <ul>
            <li>Collaborated with remote scribe team to accurately and quickly complete medical charts within 4 hours of patient encounter</li>
        </ul>
    </div>
    <div class="res-skills">
        <h4>Skills</h4>
        <p>Java, HTML, CSS, IntelliJ, VSCode, Microsoft Office and Excel, 
            Google Drive, Python, JavaScript, XML, MySQL, JSON, Maven, 
            Postman, MariaDB, GitHub, RapidAPI</p>
    </div>
</div>
